<h4><%=@name%></h4>
<strong>User: </strong><%=@current_data["usr"]%>&nbsp;<%=sparkline_img_tag_for(:cpu_user)%><br/>
<strong>Idle: </strong><%=@current_data["idle"]%>&nbsp;<%=sparkline_img_tag_for(:cpu_idle)%><br/>
<strong>System: </strong><%=@current_data["sys"]%>&nbsp;<%=sparkline_img_tag_for(:cpu_system)%>
